@import './home.css';
@import './nav.css';

:root{
    --primary: #00829c;
    --primary-light: #06a2c1;
    --secondary: #eee;
    --black: #53565a;
    --gray: #ccc;
    --deep-gray: #97999b;
}

body {
    background-color: var(--secondary);
    color: var(--black);
    font-family: Arial;
}
body div#main {
    margin: 0px 25px 25px;
    min-height: calc(100vh - 155px);
    display: flex;
}
h1{
    color: var(--primary);
}
